html{
    background:rgb(102, 102, 102);
    /* width:100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}
body{
    margin:0 0 0 0;
    padding:0;
    /* border:1px solid white; */
    height:max-content;
    width:89%;
}
body *{
    flex-shrink: 0;
    margin:0;padding:0;
}
header{
    background:rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 130px;
}
header *{
    /* border:1px solid white; */
}
#logo{
    aspect-ratio: 1/1;
    padding:1em;
    height:80%;
    /* width:9%; */
    border-radius: 50%;
}
#head{
    height:100%;
    width:85%;
    padding:0 0 0 0em;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
#headTitle{
    font-variant: small-caps;
    font-size: 1.5em;
    color:white;
    padding:0;
    margin:0 0 0 0; 
}
#headDesc{
    align-self: flex-start;
    padding:0;
    margin:0 0 1em 0; 
    color:white;
}
#others{
    height:100%;
    width:0%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    color:white;
}
#others p{
    margin: 2em 2em 0 0;
    font-size: 0.8em;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
/* -----NAV----- */
nav{
    margin:0;
    padding:0;
    height:40px;
    width:100%;
    background: rgb(139, 58, 58);
    font-weight: bold;
}
nav ol{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav ol li{
    list-style: none;
    display: inline;
    color:rgb(255,255,255,0.7);
}
/* -----MAIN----- */
#main{
    height:100vh;
    background: rgb(235, 237, 238);
    border: 1px solid white;
    display: grid;
    grid-template-columns: 25% auto 25%;
    /* grid-column-gap:1em; */
    padding:1em;
}
.section1{
    padding: 0 1em 0 1em;
    font-size: 0.7em;
    /* border: 1px solid white;  */
}
#updatesContainer,#announcementsContainer{
    padding:1em;
    border-radius: 20px;
    border: 2px solid rgb(165, 162, 162);
    height:300px;
}
#main hr{
    border: 1px solid rgb(165, 162, 162);
}

/* ---------RESPONSIVE--------- */
@media screen and (max-width: 1200px){
    body{
        width:100%;
    }
    #logo{
        padding:1em;
        margin: 0 0 0 1em;
    }
    #head{
        width:unset;
    }
    #others{
        width:30%;
    }
}